[Desktop Entry]
Name=Slate Web Browser
Name[ca]=Navegador web Slate
Name[cs]=Slate Webový prohlížeč
Name[es]=Navegador web Slate
Name[fa]=مرورگر اینترنتی Slate
Name[fi]=Slate-selain
Name[fr]=Navigateur Web Slate
Name[hu]=Slate webböngésző
Name[it]=Slate Browser Web
Name[ja]=Slate ウェブ・ブラウザ
Name[ko]=Slate 웹 브라우저
Name[nb]=Slate Nettleser
Name[nl]=Slate webbrowser
Name[nn]=Slate Nettlesar
Name[no]=Slate Nettleser
Name[pl]=Przeglądarka WWW Slate
Name[pt]=Slate Navegador Web
Name[pt_BR]=Navegador Web Slate
Name[sk]=Internetový prehliadač Slate
Comment=Browse the World Wide Web
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[sk]=Prehliadanie internetu
GenericName=Web Browser
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sk]=Internetový prehliadač
Exec=slate-gtk %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=slate.png
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https
StartupWMClass=Slate-bin
StartupNotify=true
